nav {
    display: flex;
    justify-content: right;
    align-items: baseline;
}

body {
    background-image: url(AmazingGraph/img/team.jpg);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    color: #D2872C;
}

.img {
    justify-content: right;
}