body {
    font-family: 'Roboto', sans-serif;
    background-position: right;
    background-size: cover;
    justify-content: right;
}

img {
    justify-content: center;
}

.img {
    display: flex;
    justify-content: left;
    flex-direction: column-reverse;
}